<!DOCTYPE html>
<html lang="kr">
<nav class="navbar navbar-fixed-top header" th:fragment="navbar">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/images/KakaoCI.png" />
            </a>

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li th:if="${session.userId == null}" ><a class="black-component" href="/users/loginForm" role="button">로그인</a></li>
            <li th:if="${session.userId == null}"><a class="black-component" href="/users/joinForm" role="button">회원가입</a></li>
            <form name="logout" action="/users/logout" method="post"></form>
            <li th:if="${session.userId != null}">
                <a class="black-component" onclick="javascript:document.logout.submit();" role="button">로그아웃</a>
            </li>
        </ul>
    </div>
</nav>
</html>