{{>layout/header}}
<link href="/css/member/joinForm.css" rel="stylesheet">
{{>layout/navigationBar}}
<div class="container" id="main">
    <header class="post-header">
        <p class="title">프로필</p>
    </header>
    {{#member}}
    <form id="updateForm" name="question" class="info-container" method="post" action="/members/{{id}}">
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" disabled value="{{email}}">
            <input type="hidden" class="form-control" name="email" value="{{email}}">
        </div>
        <div class="form-group">
            <label for="nickname">닉네임</label>
            <input class="form-control" id="nickname" name="nickname" value="{{nickname}}">
        </div>
        <div class="form-group">
            <label for="currentPassword">현재 비밀번호</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호를 입력하세요">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="바꿀 비밀번호를 입력하세요">
        </div>
        <div class="form-group">
            <label for="passwordCheck">비밀번호 확인</label>
            <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" placeholder="비밀번호 확인을 입력하세요">
        </div>
        <input type="hidden" name="_method" value="PUT"/>
        <button type="submit" class="btn btn-success clearfix pull-right">회원 정보 수정</button>
    </form>
    {{/member}}
</div>
{{>layout/footer}}
