.navLogo {
    width: 100px;
}

.nav-item button {
    width: 90px;
    margin-left: 0.5rem;
}

#mainJumbotron {
    background-color: #FFCD00;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    flex: 0 0 70px;
    margin-top: auto;
}