<body class="body-center">
<header>
  <div class="container">
    <a href="/">
      <img alt="logo" src="/images/KakaoCI.png"/>
    </a>
    <div>
      <span class="header_menu" onclick="location.href='/users'">멤버 리스트</span>
      {{^sessionedUser}}
        <span class="header_btn" onclick="location.href='/login'">로그인</span>
        <span class="header_btn" onclick="location.href='/user/form'">회원가입</span>
      {{/sessionedUser}}
      {{#sessionedUser}}
        <span class="header_btn" onclick="location.href='/logout'">로그아웃</span>
      {{/sessionedUser}}
    </div>
  </div>
</header>
<style>
  .body-center {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1040px;
    height: 40px;
  }

  .header_menu {
    height: 20px;
    padding: 8px 16px;
    color: #666666;
    cursor: pointer;
  }

  .header_btn {
    height: 20px;
    padding: 8px 16px;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
  }
</style>
</body>