<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>KAKAO Cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

            <a href="/home" class="navbar-brand">KAKAO Cafe</a>

        </div>
        {{#loginUser}}
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <div class="navbar-form pull-left" style="margin: 0; padding: 15px;">
                <div class="input-group" style="max-width:470px;">
                    <span style="color:darkorange;">권한 : </span><span style="font-weight: bold; color: red;">{{#admin}}admin{{/admin}}{{^admin}}USER{{/admin}}</span>
                </div>
            </div>
        </div>
        {{/loginUser}}
    </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <ul class="nav dropdown-menu">
                <li><a href="/users/profile"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                <li class="nav-divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            </button>            
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/home">Posts</a></li>
                {{#admin}}
                <li><a href="/users" role="button">회원목록</a></li>
                {{/admin}}
                <li><a href="/questions" role="button">게시글</a></li>
                {{^loginUser}}
                <li><a id="loginButton" href="javascript:void(0)" onClick="clickLoginModal()" role="button">로그인</a></li>
                {{/loginUser}}
                {{^loginUser}}
                <li><a href="/users/create" role="button">회원가입</a></li>
                {{/loginUser}}
                {{#loginUser}}
                <li><a href="/users/logout" role="button">로그아웃</a></li>
                {{/loginUser}}
                {{#loginUser}}
                <li><a href="/users/{{id}}/profile" role="button">개인정보</a></li>
                {{/loginUser}}
            </ul>
        </div>
    </div>
</div>
