<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Kakao Cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<nav class="navbar navbar-fixed-top header">
    <div style="min-width: 1040px;">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">
                <img src="/images/KakaoCI.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <div class="nav navbar-nav navbar-right" style="margin-top: 20px!important">
                <a style="text-decoration: none; margin-right: 24px; color: black" href="/members">멤버 리스트</a>
                {{^sessionedUser}}
                <a class="post-button alt-color" style="text-decoration: none; padding: 8px 16px 8px 16px; margin-right: 8px; color: black" href="/member/login" role="button">로그인</a>
                <a class="post-button alt-color" style="text-decoration: none; padding: 8px 16px 8px 16px; margin-right: 8px; color: black" href="/member/form" role="button">회원가입</a>
                {{/sessionedUser}}
                {{#sessionedUser}}
                    <a class="post-button alt-color" style="text-decoration: none; padding: 8px 16px 8px 16px; margin-right: 15px; color: black" href="#" role="button">개인정보수정</a>
                    <a class="post-button alt-color" style="text-decoration: none; padding: 8px 16px 8px 16px; margin-right: 15px; color: black" href="/member/logout" role="button">로그아웃</a>
                {{/sessionedUser}}
            </div>
        </div>
    </div>
</nav>