<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Kakao Cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<nav class="navbar navbar-fixed-top header">
    <div style="min-width: 1040px;">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">
                <img src="/images/KakaoCI.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
<!--            <form class="navbar-form pull-left">-->
<!--                <div class="input-group" style="max-width:470px;">-->
<!--                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">-->
<!--                    <div class="input-group-btn">-->
<!--                        <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
            <div class="nav navbar-nav navbar-right" style="margin-top: 20px!important">
                <a style="margin-right: 15px; color: black" href="/members">멤버 리스트</a>
                <a style="margin-right: 15px; color: black" href="/member/login" role="button">로그인</a>
                <a style="margin-right: 15px; color: black" href="/member/form" role="button">회원가입</a>
                <a style="margin-right: 15px; color: black" href="#" role="button">로그아웃</a>
                <a style="margin-right: 15px; color: black" href="#" role="button">개인정보수정</a>
            </div>
        </div>
    </div>
</nav>