<nav class="navbar navbar-default bg-none border-none">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="KakaoCI" src="/images/KakaoCI.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right nav-pills">
                <li><a href="/users" class="navbar-link font-small">멤버리스트</a></li>
                <li>
                    <p class="navbar-btn">
                    {{#sessionUser}}
                        <a href="/users/{{sessionUser.id}}" class="btn-kakao font-small">정보수정</a>
                    {{/sessionUser}}
                    {{^sessionUser}}
                        <a href="/login" class="btn-kakao font-small">로그인</a>
                    {{/sessionUser}}
                    </p>
                </li>
                <li>
                    <p class="navbar-btn">
                    {{#sessionUser}}
                        <a href="/logout" class="btn-kakao font-small">로그아웃</a>
                    {{/sessionUser}}
                    {{^sessionUser}}
                        <a href="/users/create" class="btn-kakao font-small">회원가입</a>
                    {{/sessionUser}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</nav>