<nav class="navbar navbar-expand-xl p-3">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="/" class="navbar-brand align-middle w-75">
                <img src="/images/Kakao_CI_yellow.svg" alt="Kakao CI yellow"/>
            </a>
        </div>
        <div class="nav-menu">
            <a class="nav-menu-item border-0 bg-transparent text-black" aria-current="page" href="#">
                멤버리스트
            </a>
            <a class="nav-menu-item border bg-dark text-white" aria-current="page" href="/login">
                로그인
            </a>
            <a class="nav-menu-item border bg-dark text-white nav-link active" aria-current="page" href="signup">
                회원가입
            </a>
            </ul>
        </div>
    </div>
</nav>
