<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/images/KakaoCI.png"/>
            </a>

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active">{{sessionUser.nickname}}님 반가워요💛</li>
            <li class="active"><a href="/users">멤버 리스트</a></li>
            <li><a class="black-component" href="/users/logout" role="button">로그아웃</a></li>
            <li><a class="black-component" href="/" role="button">개인정보수정</a></li>
        </ul>
    </div>
</nav>
