.profile-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-data {
    margin: 1rem;
}

.profile-heading {
    min-width: 5rem;
    border-radius: 0.3rem;
    font-weight: bolder;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    margin: 0.2rem 0;
    background-color: #ffcd00;
}

.profile-action-box {
    display: flex;
    justify-content: center;
}
.profile-action-btn {
    align-items: center;
    /*align-self: end;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-width: 60px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ffcd00;
    border-radius: 3px;
    padding: 0 20px;
    margin: 0 2px;
}
.profile-action-btn:hover {
    background-color: #ffcd00;
    border-color: black;
}