.col-md-12 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    font-size: 14px;
}

li {
    margin: 3px;
}

.black-component {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: black;
    color: white;
}

.black-component:hover {
    background-color: #ffcd00;
    color: black;
}

.navbar-right {
    display: flex;
}

.container {
    margin-left: 10%;
    width: 80%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    font-size: 14px;
    background-color: black;
    color: white;
    margin: 20px;
}

.post-btn-container {
    display: flex;
    justify-content: end;
}

.btn:hover {
    background-color: #ffcd00;
    color: black;
}

label {
    width: 25%;
}

.panel {
    width: 100%;
}

.panel-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
}

.media-body {
    display: flex;
    align-items: center;
}
