spring:
  mustache:
    suffix: .html
    cache: false
    expose-session-attributes: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://172.17.0.3:3306/kakaodb?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
  h2:
    console:
      enabled: true
      path: /h2-console
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  sql:
    init:
      mode: always
management:
  health:
    diskspace:
      enabled: false
  endpoints:
    web:
      exposure:
        include: '*'
server:
  servlet:
    session:
      tracking-modes: cookie

