{{>template/header}}
<div class="card" style="border: 0;">
    <article class="card-body mx-auto" style="width: 1000px;">
        <h2 class="card-title m-3 text-center">글쓰기</h2>
        <form action="/board/articles/{{articleId}}" method="post">
            <input name="_method" type="hidden" value="put"/>
            {{#article}}
            <table class="table align-middle">
                <tr>
                    <th class="text-end">
                        작성자: &nbsp;
                    </th>
                    <td>
                        {{writerId}}
                    </td>
                </tr>
                <tr>
                    <th class="text-end">
                        제목: &nbsp;
                    </th>
                    <td>
                        <input class="form-control" name="title" placeholder="제목을 입력해주세요." required type="text"
                               value="{{title}}">
                    </td>
                </tr>
                <tr>
                    <th class="text-end">
                        내용: &nbsp;
                    </th>
                    <td>
                        <textarea class="form-control" name="content" placeholder="내용을 입력해주세요." style="height: 200px;">{{content}}</textarea>
                    </td>
                </tr>
            </table>
            <div class="mt-1 float-end">
                <button class="btn btn-dark" type="submit">수정</button>
                <button class="btn btn-dark" onclick="location.href='/board/articles/{{articleId}}'" type="button">취소
                </button>
            </div>
            {{/article}}
        </form>
    </article>
</div>
{{>template/footer}}