{{>template/header}}
<div class="card" style="border: 0;">
    <article class="card-body mx-auto" style="width: 1000px;">
        <h2 class="card-title m-3 text-center">글쓰기</h2>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th style="width: 70px">번호</th>
                <th>제목</th>
                <th style="width: 130px">작성자</th>
                <th style="width: 250px">작성일자</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            {{#articles}}
            <tr>
                <td>{{articleId}}</td>
                <td><a href="/board/articles/{{articleId}}">{{title}}</a></td>
                <td>{{writerId}}</a></td>
                <td>{{formattedCreatedDate}}</td>
            </tr>
            {{/articles}}
            </tbody>
        </table>
        {{^articles}}
        <h3 class="mt-5 mb-5 text-center">글이 존재하지 않습니다.</h3>
        {{/articles}}
        <div id="pagination">
            <form id="pageForm" method="get" action="">
                <input type=hidden name="page" value="">
            </form>
        </div>
        <div class="float-end">
            <button class="btn btn-dark" onclick="location.href='/board/articles/form'" type="button">글쓰기</button>
        </div>
    </article>
</div>
<script src="/assets/js/board/list.js"></script>
{{>template/footer}}