{{>template/header}}
<div class="card" style="border: 0;">
    <article class="card-body mx-auto" style="width: 1000px;">
        <h2 class="card-title m-3 text-center">글쓰기</h2>
        <form method="post" action="/board/write">
            <table class="table align-middle">
                <tr>
                    <th class="text-end">
                        작성자: &nbsp;
                    </th>
                    <td>
                        <input type="text" name="writerId" class="w-25 form-control" placeholder="작성자" required>
                    </td>
                </tr>
                <tr>
                    <th class="text-end">
                        제목: &nbsp;
                    </th>
                    <td>
                        <input type="text" name="title" class="form-control" placeholder="제목을 입력해주세요." required>
                    </td>
                </tr>
                <tr>
                    <th class="text-end">
                        내용: &nbsp;
                    </th>
                    <td>
                        <textarea class="form-control" name="content" style="height: 500px;" placeholder="내용을 입력해주세요."></textarea>
                    </td>
                </tr>
            </table>
            <div class="mt-1 float-end">
                <button type="submit" class="btn btn-dark">작성</button>
                <button type="button" class="btn btn-dark" onclick="location.href='/board/list'">목록</button>
            </div>
        </form>
    </article>
</div>
{{>template/footer}}