<div class="text-end">
    <a class="btn btn-outline-secondary me-2" href="#" role="button">Modify</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#postRemoveCheckModal">Remove</button>
</div>
