<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/post/show.css?version=v1" rel="stylesheet">
    {{#success}}
    <script>alert("{{successMessage}}")</script>
    {{/success}}
</head>

{{>header}}

        <div class="container" id="main">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="panel panel-default">
                  <header class="post-header">
                      <p class="post-title">{{post.title}}</p>
                  </header>
                  <div class="content-main">
                      <article class="article">
                          <div class="article-header">
                              <div class="article-header-text">
                                  <p class="article-content">{{post.writer}}</p>
                                  <p class="article-content">
                                      {{post.regDateTime}}
                                  </p>
                                  <p class="article-content">조회 4</p>
                              </div>

                              </div>
                          </div>
                          <div class="article-doc">
                              <p>{{post.content}}</p>
                          </div>
                      </article>

                      <div class="post-comment">
                          <div class="post-comment-slipp">
                              <p class="post-comment-count">댓글 {{replys.size}}</p>
                              <div class="post-comment-slipp-articles">

                                  {{#replys}}
                                  <article class="comment">
                                      <div class="article-text">
                                          <p class="comment-content comment-author-name">{{userId}}</p>
                                          <!--삭제 버튼 폼-->
                                          <form action="/posts/{{post.id}}/reply/{{id}}" method="post">
                                              <input type="hidden" name="_method" value="DELETE">
                                              <input class="comment-content comment-time" type="submit" value="x">
                                          </form>

                                          <div class="comment-content comment-doc">
                                              <p>{{comment}}</p>
                                          </div>
                                          <p class="comment-content comment-time">
                                              {{regDateTime}}
                                          </p>
                                      </div>
                                  </article>
                                  {{/replys}}

                                  <form class="submit-write" method="post" action="/posts/{{post.id}}/reply">
                                      <div class="comment-writer-container">
                                          <input class="comment-writer" id="writer" name="writer" value="{{sessionUser.userId}}" readonly/>
                                      </div>
                                      <div class="form-group">
                                          <textarea class="form-control" id="comment" name="comment" placeholder="내용을 입력하세요"></textarea>
                                          {{#comment}}
                                          <div style="color: red;">{{comment}}</div>
                                          {{/comment}}
                                      </div>
                                      <input class="post-write-btn" type="submit" value="등록"/>
                                  </form>
                              </div>
                          </div>
                          <div style="display: flex">
                              <a href="/posts/{{post.id}}/form" class="post-write-btn">수정</a>
                              <form action="/posts/{{post.id}}" method="post">
                                  <input type="hidden" name="_method" value="DELETE">
                                  <input class="post-write-btn-delete" type="submit" value="삭제">
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
{{>footer}}
