<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/post/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/images/KakaoCI.png" />
                </a>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/users/list">멤버 리스트</a></li>
                {{^signInUser}}
                <li><a class="black-component" href="/users/sign-in" role="button">로그인</a></li>
                <li><a class="black-component" href="/users/sign-up" role="button">회원가입</a></li>
                {{/signInUser}}
                {{#signInUser}}
                <li class="login-active"><a href="/users/profile/edit">{{userId}} ({{email}}) 님</a></li>
                <li>
                    <form id="logout" method="post" action="/users/sign-out">
                        <a class="black-component" href="javascript:;" onclick="document.getElementById('logout').submit()" role="button">로그아웃</a>
                    </form>
                </li>
                {{/signInUser}}
            </ul>
        </div>
    </nav>

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">글 수정</p>
        </header>
        {{^signInUser}}
        <p class="user-title">게시글 수정을 위해선 로그인이 필요합니다.</p>
        {{/signInUser}}
        {{#signInUser}}
        {{^post}}
        <p class="user-title">해당 게시글의 수정 권한이 없습니다.</p>
        {{/post}}
        {{#post}}
        <form class="submit-write" method="post" action="/posts/edit/{{postId}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <div class="text-box">
                <div class="comment-writer-container">
                    <p class="post-title">제목</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="title" name="title" placeholder="제목을 입력하세요">{{title}}</textarea>
                </div>
            </div>

            <div class="text-box">
                <div class="comment-writer-container">
                    <p class="post-content">내용</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요">{{content}}</textarea>
                </div>
            </div>
            <input class="post-write-btn" type="submit" value="수정"/>
        </form>
        {{/post}}
        {{/signInUser}}
    </div>
</div>
</body>
</html>
