<!DOCTYPE html>
<html lang="kr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/post/show.css" rel="stylesheet">
    <!--    <link href="/css/user/list.css" rel="stylesheet">-->
</head>
<body>
<div class="background">

    {{> layout/nav}}

    <div class="container" id="main">
            <div class="panel panel-default">
                {{#post}}
                <header class="post-header">
                    <p class="post-title">{{title}}</p>
                </header>
                {{#isMyArticle}}
                <div class="container-right">
                    <a class="post-write-btn" href="/articles/{{id}}/form" type="button">수정</a>
                    <form action="/articles/{{id}}" method="post">
                        <input name="_method" type="hidden" value="DELETE"/>
                        <input class="post-write-btn" type="submit" value="삭제"/>
                    </form>
                </div>
                {{/isMyArticle}}
                <div class="content-main">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-header-text">
                                <p class="article-content">{{author}}</p>
                                <p class="article-content">
                                    작성일자:{{createdAt}}
                                </p>
                                <p class="article-content">조회 {{views}}</p>
                            </div>
                        </div>
                        <div class="article-doc">
                            {{content}}
                        </div>
                    </article>

                    <div class="post-comment">
                        <div class="post-comment-slipp">
                            <p class="post-comment-count">댓글 {{countOfReply}}개</p>
                            <div class="post-comment-slipp-articles">

                                {{#reply}}
                                <article class="comment">
                                    <div class="article-text">
                                        <p class="comment-content comment-author-name">{{author}}</p>
                                        <div class="container-right">
<!--                                            구현 필요-->
                                            <a class="comment-btn" href="/articles/{{articleId}}/replies/{{id}}" type="button">수정</a>
                                            <form action="/articles/{{articleId}}/replies/{{id}}" method="post">
                                                <input name="_method" type="hidden" value="DELETE"/>
                                                <input class="comment-btn" type="submit" value="삭제"/>
                                            </form>
                                        </div>
                                        <div class="comment-content comment-doc">
                                            <p>{{content}}</p>
                                        </div>
                                        <p class="comment-content comment-time">
                                            {{createdAt}}
                                        </p>
                                    </div>
                                </article>
                                {{/reply}}

                                {{/post}}

                                <form action="/articles/{{id}}/replies" class="submit-write" method="post">
                                    <div class="comment-writer-container">
                                        {{#sessionedUser}}
                                        <input class="comment-writer" id="writer" name="writer" readonly value="{{name}}"/>
                                        {{/sessionedUser}}
                                    </div>
                                    <div class="form-group">
                                    <textarea class="form-control" id="content" name="content"
                                              placeholder="내용을 입력하세요"></textarea>
                                    </div>
                                    <input class="post-write-btn" type="submit" value="등록"/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>

</body>
</html>