<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/post/show.css" rel="stylesheet">
</head>
<body>
    <div class="background">
        <nav class="navbar navbar-fixed-top header">
            <div class="col-md-12">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <img src="/images/KakaoCI.png" />
                    </a>

                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/user">멤버 리스트</a></li>
                    <li><a class="black-component" href="/users/login.html" role="button">로그인</a></li>
                    <li><a class="black-component" href="/users/form.html" role="button">회원가입</a></li>
                </ul>
            </div>
        </nav>
        {{#article}}
        <div class="container" id="main">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="panel panel-default">
                  <header class="post-header">
                      <p class="post-title">{{title}}</p>
                  </header>
                  <div class="content-main">
                      <article class="article">
                          <div class="article-header">
                              <div class="article-header-text">
                                  <p class="article-content">{{author}}</p>
                                  <p class="article-content">
                                      작성일자:{{createdDate}}
                                  </p>
                                  <p class="article-content">조회 {{views}}회</p>
                              </div>
                          </div>
                          <div class="article-doc">
                              <p>{{content}}</p>
                          </div>
                      </article>

                      <div class="post-comment">
                          <div class="post-comment-slipp">
                              <p class="post-comment-count">댓글 {{commentTotalCount}}개</p>
                              <div class="post-comment-slipp-articles">

                                  <article class="comment">
                                      <div class="article-text">
                                          {{#commentList}}
                                          <p class="comment-content comment-author-name">{{author}}</p>
                                          <div class="comment-content comment-doc">
                                              <p>{{content}}</p>
                                          </div>
                                          <p class="comment-content comment-time">
                                              {{createdDateTime}}
                                          </p>
                                          {{/commentList}}
                                      </div>
                                  </article>
                                  <form class="submit-write" method="post" action="/comment/{{articleIdx}} ">
                                      <div class="comment-writer-container">
                                          <input class="comment-writer" id="author" name="author" value="익명" readonly/>
                                      </div>
                                      <div class="form-group">
                                          <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
                                      </div>
                                      <input class="post-write-btn" type="submit" value="등록"/>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        {{/article}}
    </div>
	</body>
</html>
