.bg-1 {
	background: url("https://bloximages.newyork1.vip.townnews.com/manoanow.org/content/tncms/assets/v3/editorial/5/c0/5c02c4c2-90ee-11e9-8c5e-6f788b52b614/5d07721eb63af.image.jpg?resize=1200%2C900") no-repeat 50% 50%;
	background-size: cover;
}

.bg-2 {
	background: url("../images/bg/home-5.jpg");
	background-size: cover;
}
