
{{>template/header}}

{{>template/navigator}}

<div class ="main">
<form name="question" class="info-container" method="post" action="/article/post">
    <div class="form-group">
        <label for="title">제목</label>
        <input class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
    </div>
    <div class="form-group">
        <label for="content">내용</label>
        <textarea id="content" name="content" placeholder="내용을 입력하세요"></textarea>
    <button type="submit" class="btn btn-success clearfix pull-right">완료</button>
    </div>
</form>
</div>
{{>template/footer}}