{{>layout/header}}
<link href="/css/article/show.css" rel="stylesheet">

<body>
    <div class="background">
        {{>layout/navigation}}

        <div class="container" id="main">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="panel panel-default">
                  <header class="post-header">
                      <p class="post-title">{{article.title}}</p>
                  </header>
                  <div class="content-main">
                      <article class="article">
                          <div class="article-header">
                              <div class="article-header-text">
                                  <p class="article-content">{{article.writer}}</p>
                                  <p class="article-content">
                                      작성일자:2015-12-30 01:47
                                  </p>
                                  <p class="article-content">조회 4</p>
                              </div>
                          </div>
                          <div class="article-doc">
                              <p>{{article.content}}</p>
                          </div>
                      </article>

                      {{#isWriter}}
                      <div class="post-btn-container">
                          <a class="post-write-btn" href="/articles/{{article.id}}/form" class="btn btn-primary pull-right" role="button">수정</a>
                          <form method="post" action="/articles/{{article.id}}/delete">
                              <input type="hidden" name="_method" value="DELETE"/>
                              <input class="post-write-btn" class="btn btn-primary pull-right" type="submit" value="삭제"/>
                          </form>
                      </div>
                      {{/isWriter}}

                      <div class="post-comment">
                          <div class="post-comment-slipp">
                              <p class="post-comment-count">댓글 {{comments.size}}개</p>
                              <div class="post-comment-slipp-articles">

                                  {{#comments}}
                                  <article class="comment">
                                      <div class="article-text">
                                          <p class="comment-content comment-author-name">{{writer}}</p>
                                          <div class="comment-content comment-doc">
                                              <p>{{content}}</p>
                                          </div>
                                          <p class="comment-content comment-time">
                                              2016-01-12 14:06
                                          </p>
                                      </div>
                                      <form method="post" action="/articles/{{article.id}}/comments/{{id}}">
                                          <input type="hidden" name="_method" value="DELETE"/>
                                          <input class="post-write-btn" class="btn btn-primary pull-right" type="submit" value="삭제"/>
                                      </form>
                                  </article>
                                  {{/comments}}

                                  <form class="submit-write" method="post" action="/articles/{{article.id}}/comments">
                                      <div class="comment-writer-container">
                                          <input class="comment-writer" id="writer" name="writer" value="{{sessionUser.userId}}" readonly/>
                                      </div>
                                      <div class="form-group">
                                          <textarea class="form-control" id="comment" name="content" placeholder="내용을 입력하세요"></textarea>
                                      </div>
                                      <input class="post-write-btn" type="submit" value="등록"/>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
{{>layout/footer}}
