{{> index/header}}
{{> index/navbar}}

<div class="container" id="main">
  {{# article}}
    <div class="row">
      <p class="article-title">제목</p>
      <h1 class="article-content title">{{title}}</h1>
    </div>
    <div class="row">
      <p class="article-title">작성자</p>
      <p class="article-content writer">{{writer}}</p>
    </div>
    <div class="row">
      <p class="article-title">작성</p>
      <p class="article-content date">{{createdAt}}</p>
    </div>
    <div class="row">
      <p class="article-title">수정</p>
      <p class="article-content date">{{updatedAt}}</p>
    </div>
    <div class="row">
      <p class="article-title">내용</p>
      <p class="article-content contents">{{contents}}</p>
    </div>
  {{/ article}}
</div>

<style>
  .article-title {
    width: 100px;
    display: inline-block;
  }

  .article-content {
    display: inline-block;
  }
</style>

{{> index/footer}}
