<!DOCTYPE html>
<html lang="kr">
<head>

    {{>partial/header}}
    <link href="/css/post/show.css" rel="stylesheet">

    <script>
        let replyCount = 0;
        let lastReplyId = 0;

        function deleteReply(replyID) {
            const deleteBtn = $('#reply-' + replyID + ' button');
            const url = '/api/articles/{{article.id}}/reply/' + replyID
            $.ajax({
                type: 'delete',
                url: url,
                dataType: 'json',
                error: function (xhr, status) {
                    alert(xhr.responseText);
                },
                success: function (json) {
                    if (json.success) {
                        deleteBtn.closest("article").remove();
                        replyCount--;
                        $('#replyCount').text("댓글 " + replyCount + "개")
                    } else {
                        alert(json.message);
                    }
                }
            });
        }

        function addReplies(jsonList) {
            const answerTemplate = $("#replyTemplate").html();
            for (const i in jsonList) {
                const reply = jsonList[i];
                const template = answerTemplate.format(reply.id, reply.writerName, reply.contents, reply.time);
                $(".submit-write").before(template)
                //$('.submit-write').before(article)
            }
        }

        $(function () {
            $.ajax({
                url: "/api/articles/{{article.id}}/reply/",
                method: "GET",
                dataType: "json"
            }).done(function (json) {
                if (json.success) {
                    replyCount = json.replyList.length;
                    $('#replyCount').text("댓글 " + replyCount + "개")
                    if (replyCount > 0) {
                        lastReplyId = json.replyList[replyCount - 1].id;
                    }
                    addReplies(json.replyList);
                } else {
                    alert(json.message);
                    location.reload();
                }
            }).fail(function (xhr, status, errorThrown) {
                alert(xhr.responseText);
                location.reload();
            })
        })

        function createReply() {
            $.ajax({
                url: "/api/articles/{{article.id}}/reply/",
                data: $(".submit-write").serialize() + "&lastReplyId=" + lastReplyId,
                method: "POST",
                dataType: "json"
            }).done(function (json) {
                if (json.success) {
                    replyCount += json.replyList.length;
                    $('#replyCount').text("댓글 " + replyCount + "개");
                    lastReplyId = json.replyList[json.replyList.length - 1].id;
                    addReplies(json.replyList);
                    $('#contents').val('');
                } else {
                    alert(json.message);
                    location.reload();
                }
            }).fail(function (xhr, status, errorThrown) {
                alert(xhr.responseText);
                location.reload();
            })
        }


    </script>
</head>
<body>

{{>partial/navigation}}


<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12" style="display: block">
        <div class="panel panel-default">
            <header class="post-header">
                <p class="post-title">{{article.title}}</p>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-text">
                            <p class="article-content">{{article.writer}}</p>
                            <p class="article-content">
                                작성일자:{{article.time}}
                            </p>
                            <p class="article-content">조회 {{article.views}}</p>
                        </div>
                    </div>
                    <div class="article-doc">
                        {{article.contents}}
                    </div>
                </article>
                {{#isOwner}}
                <button class="post-write-btn" onClick="location.href='{{article.id}}/form'" style="float: right">
                    수정
                </button>
                <form action="{{article.id}}/delete" method="post">

                    <input name="_method" type="hidden" value="DELETE"/>
                    <input class="post-write-btn" style="float: right;background-color: red" type="submit" value="삭제"/>
                </form>
                {{/isOwner}}

                <div class="post-comment">
                    <div class="post-comment-slipp">
                        <p class="post-comment-count" id="replyCount">댓글 {{replies.length}}개</p>
                        <div class="post-comment-slipp-articles">

                            <form class="submit-write" onsubmit="return false">
                                <div class="comment-writer-container">
                                    <input class="comment-writer" id="writer" name="writer" readonly
                                           value="{{sessionUser.userId}}"/>
                                </div>
                                <input id="articleID" name="articleID" readonly type="hidden" value="{{article.id}}"/>
                                <div class="form-group">
                                    <textarea class="form-control" id="contents" name="contents"
                                              placeholder="내용을 입력하세요"></textarea>
                                </div>
                                <button class="post-write-btn" onclick="createReply()">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="deleteReplyForm" method="post">
    <input name="_method" type="hidden" value="DELETE"/>

</form>
<script id="replyTemplate" type="text/template">
    <article class="comment" id="reply-{0}">
        <div class="article-text">
            <p class="comment-content comment-author-name">{1}</p>
            <div class="comment-content comment-doc">
                <p>{2}</p>
                <button class="post-write-btn" onclick="deleteReply('{0}')"
                        style="float: right;">삭제
                </button>
            </div>
            <p class="comment-content comment-time">
                {3}
            </p>
        </div>
    </article>
</script>

{{>partial/footer}}

</body>
</html>
