<!DOCTYPE html>
<html lang="kr">
<head>
    {{>common/meta}}
    <link href="/css/post/show.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{>common/header}}

    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <header class="post-header">
                    <p class="post-title">{{article.title}}</p>
                </header>
                <div class="content-main">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-header-text">
                                <p class="article-content">{{article.author}}</p>
                                <p class="article-content">작성일자: {{article.createdAt}}</p>
                                <p class="article-content">조회 {{article.viewCount}}</p>
                                <a class="article-content" href="/articles/{{article.id}}/update">수정</a>
                                <form action="/articles/{{article.id}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input class="article-content" type="submit" value="삭제"/>
                                </form>
                            </div>
                        </div>
                        <div class="article-doc">
                            {{article.content}}
                        </div>
                    </article>


                    <div class="post-comment">
                        <div class="post-comment-slipp">
                            <p class="post-comment-count">댓글 {{comments.size}}개</p>
                            <div class="post-comment-slipp-articles">
                                {{#comments}}
                                <article class="comment">
                                    <div class="comment-header">
                                        <p class="comment-content comment-author-name">{{author}}</p>
                                        <div class="comment-content comment-doc">
                                            <p>{{content}}</p>
                                        </div>
                                        <div class="comment-content">
                                            <p class="comment-content comment-time">
                                                {{createdAt}}
                                            </p>
                                            <form action="/articles/{{article.id}}/comments/{{id}}" method="POST">
                                                <input type="hidden" name="_method" value="DELETE"/>
                                                <input class="comment-content" type="submit" value="삭제"/>
                                            </form>
                                        </div>
                                    </div>
                                </article>
                                {{/comments}}

                                {{#userKey}}
                                <form class="submit-write" method="post" action="/articles/{{article.id}}/comments">
                                    <div class="comment-writer-container">
                                        <input class="comment-writer" id="writer" name="writer" value={{userName}} readonly/>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
                                    </div>
                                    <input class="post-write-btn" type="submit" value="등록"/>
                                </form>
                                {{/userKey}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

