<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/user/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/images/KakaoCI.png" />
                </a>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/users/list">멤버 리스트</a></li>
                {{^signInUser}}
                <li><a class="black-component" href="/users/sign-in" role="button">로그인</a></li>
                <li><a class="black-component" href="/users/sign-up" role="button">회원가입</a></li>
                {{/signInUser}}
                {{#signInUser}}
                <li class="login-active"><a href="/users/profile/{{userId}}">{{name}} ({{email}}) 님</a></li>
                <li>
                    <form id="logout" method="post" action="/users/sign-out">
                        <a class="black-component" href="javascript:;" onclick="document.getElementById('logout').submit()" role="button">로그아웃</a>
                    </form>
                </li>
                {{/signInUser}}
            </ul>
        </div>
    </nav>

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원가입</p>
        </header>
        {{#signInUser}}
        <p class="user-title">이미 로그인한 계정이 존재합니다.</p>
        {{/signInUser}}
        {{^signInUser}}
        <form name="question" class="info-container" method="post" action="/users/sign-up">
            <div class="form-group">
                <label for="userId">닉네임</label>
                <input class="form-control" id="userId" name="userId" placeholder="닉네임을 입력하세요">
            </div>
            <div class="form-group">
                <label for="userId">이름</label>
                <input class="form-control" id="name" name="name" placeholder="이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">완료</button>
        </form>
        {{/signInUser}}
    </div>
</div>
</body>
</html>
