<!DOCTYPE html>
<html lang="kr">
{{> layout/header}}
<body>
    {{> layout/navbar}}
    <div class="container">
        <div class="jumbotron bg-kakao">
            <h4>멤버리스트</h4>
            <h2>참여자를 확인할 수 있습니다.</h2>
        </div>
        <div class="list-info font-small">전체 멤버 {{users.size}}명</div>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">닉네임</th>
                    <th class="text-center">이메일</th>
                    <th class="text-center">회원가입일</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#users}}
                <tr>
                    <td class="text-center">
                        <a href="/users/{{id}}">{{name}}</a>
                    </td>
                    <td class="text-center">{{email}}</td>
                    <td class="text-center">{{creationTime}}</td>
                    <td class="text-center">
                        <a href="/users/{{id}}/form" class="btn-kakao" role="button">수정</a>
                    </td>
                </tr>
                {{/users}}
            </tbody>
        </table>
    </div>
    {{> layout/scripts}}
</body>