<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 리스트</title>
</head>
<body>
<h1>유저 리스트</h1>
</div>
    <table>
        <thead>
        <tr>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">이메일</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
        <tr>
            <td>{{userId}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
        {{/users}}
        </tbody>
    </table>
</body>
</html>