{{>layout/header}}
{{>layout/navbar}}
<main class="">
    <section class="bg-kakao p-5 m-4">
        멤버리스트
        <h4>참여자를 확인할 수 있습니다.</h4>
    </section>
    <section class="p-2 m-4">
        <div class="text-secondary mb-1">
            전체 멤버 10명
        </div>

        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th class="p-3 col-md-3 text-secondary text-center" scope="col">닉네임</th>
                <th class="p-3 col-md-1 text-secondary text-center" scope="col">이메일</th>
                <th class="p-3 col-md-1 text-secondary text-center" scope="col">회원가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="p-3 col-md-3">키나님</td>
                <td class="p-3 col-md-1 text-center">kina.lee@kakaocorp.com</td>
                <td class="p-3 col-md-1 text-center">2022-01-10</td>
            </tr>
            <tr>
                <td class="p-3 col-md-3">키나님</td>
                <td class="p-3 col-md-1 text-center">kina.lee@kakaocorp.com</td>
                <td class="p-3 col-md-1 text-center">2022-01-10</td>
            </tr>
            <tr>
                <td class="p-3 col-md-3">키나님</td>
                <td class="p-3 col-md-1 text-center">kina.lee@kakaocorp.com</td>
                <td class="p-3 col-md-1 text-center">2022-01-10</td>
            </tr>
            <tr>
                <td class="p-3 col-md-3">키나님</td>
                <td class="p-3 col-md-1 text-center">kina.lee@kakaocorp.com</td>
                <td class="p-3 col-md-1 text-center">2022-01-10</td>
            </tr>
            <tr>
                <td class="p-3 col-md-3">키나님</td>
                <td class="p-3 col-md-1 text-center">kina.lee@kakaocorp.com</td>
                <td class="p-3 col-md-1 text-center">2022-01-10</td>
            </tr>
            <tr>
                <td class="p-3 col-md-3">키나님</td>
                <td class="p-3 col-md-1 text-center">kina.lee@kakaocorp.com</td>
                <td class="p-3 col-md-1 text-center">2022-01-10</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link border-0 text-dark" href="#" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link border-0 text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link border-0 text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link border-0 text-dark" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link border-0 text-dark" href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        </ul>
    </section>
</main>
{{>layout/footer}}
