{{>layout/header}}
<div class="background">
    {{^sessionUser}}
    {{>layout/mainLoginNavbar}}
    {{/sessionUser}}
    {{#sessionUser}}
    {{>layout/mainLogoutNavbar}}
    {{/sessionUser}}

    <div class="description">
        <div class="desc-container">
            <p class="desc-small">멤버리스트</p>
            <p class="desc-big">참여자를 확인할 수 있습니다.</p>
        </div>
    </div>
    {{#users}}
    <p class="total_num">전체 멤버 {{userResponses.size}}명</p>

    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>닉네임</th>
                    <th>이메일</th>
                    <th>회원가입일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#userResponses}}
                <tr onClick="location.href='/users/{{id}}'">
                    <td>{{nickname}}</td>
                    <td>{{email}}</td>
                    <td>{{createdDate}}</td>
                </tr>
                {{/userResponses}}
                </tbody>
            </table>
        </div>
    </div>
    {{/users}}
</div>
{{>layout/footer}}
