{{>template/header}}
<div class="card" style="border: 0;">
    <article class="card-body mx-auto" style="max-width: 500px; min-width:300px;">
        <h2 class="card-title m-3 text-center">회원목록</h2>

        <table class="table text-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            {{#users}}
            <tr>
                <td><a href="/user/{{userId}}">{{userId}}</a></td>
                <td>{{name}}</td>
            </tr>
            {{/users}}
            </tbody>
        </table>
        {{^users}}
        <h3 class="mt-5">회원 정보가 존재하지 않습니다.</h3>
        {{/users}}
    </article>
</div>
{{>template/footer}}