<!DOCTYPE html>
<html lang="kr">
<head>
    {{>layout/header}}
    <link href="/css/user/login_success.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{>layout/navigation_bar}}
    <div class="container" id="main">
        <header class="post-header">
            <p class="title">로그인이 완료되었습니다!</p>
        </header>
        {{#user}}
        <p class="user-info"> 이메일: {{email}}</p>
        <p class="user-info"> 닉네임: {{userId}}</p>
        {{/user}}
        <a href="../index.html" class="btn">홈으로</a>
    </div>
</div>
</body>
</html>
