{{>layout/header}}
{{>layout/navbar}}
<main class="login-box">
    <section class="h2 text-center p-5 mb-5">
        로그인
    </section>
    <section>
        <form action="/accounts/login" method="post">
            <div class="input-group mb-3 border rounded-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 text-muted p-3">이메일</span>
                </div>
                <input name="email" type="email" class="form-control border-0" placeholder="이메일을 입력해주세요"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 border rounded-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 text-muted p-3">비밀번호</span>
                </div>
                <input name="password" type="password" class="form-control border-0" placeholder="비밀번호를 입력해주세요"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div class="d-flex flex-column w-100 mt-5">
                <button type="submit" class="btn btn-dark p-3">완료</button>
            </div>
        </form>
    </section>
</main>
{{>layout/footer}}
