{{>layout/header}}
<div class="background">
    {{^sessionUser}}
    {{>layout/userLoginNavbar}}
    {{/sessionUser}}
    {{#sessionUser}}
    {{>layout/userLogoutNavbar}}
    {{/sessionUser}}

    <div class="container" id="main">
        <header class="center-header">
            <p class="display-large">로그인</p>
        </header>
        <form name="question" class="info-container" method="post" action="/users/login">
            <div class="signup-form-group">
                <label for="email">이메일</label>
                <input type="email" class="signup-form-control" id="email" name="email" placeholder="이메일을 입력하세요">
            </div>
            <div class="signup-form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="signup-form-control" id="password" name="password"
                       placeholder="비밀번호를 입력하세요">
            </div>
            {{#e.customFieldErrors}}
            <div class="warning-container">
                {{#customFieldErrors}}
                <p class="warning-text"><i class="fas fa-exclamation-triangle"></i>{{reason}}</p>
                {{/customFieldErrors}}
            </div>
            {{/e.customFieldErrors}}
            <input class="large-btn" type="submit" value="완료"/>
        </form>
    </div>
</div>
{{>layout/footer}}
