{{>layout/header}}
{{>layout/navbar}}
<main class="login-box">
    <section class="h2 text-center p-5 mb-5">
        내 정보 변경
    </section>
    <section>
        <form action="/accounts/mypage/edit" method="post">
            <div class="input-group mb-3 border rounded-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 text-muted p-3">이메일</span>
                </div>
                <input name="email" type="email" class="form-control border-0" placeholder="이메일을 입력해 주세요"
                       aria-label="Username" aria-describedby="basic-addon1" value="{{user.email}}" readonly>
            </div>
            <div class="input-group mb-3 border rounded-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 text-muted p-3">닉네임</span>
                </div>
                <input name="username" type="text" class="form-control border-0" placeholder="닉네임을 입력해 주세요"
                       aria-label="Username" aria-describedby="basic-addon1" value="{{user.username}}">
            </div>
            <div class="input-group mb-3 border rounded-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 text-muted p-3">기존 비밀번호</span>
                </div>
                <input name="password" type="password" class="form-control border-0" placeholder="기존 비밀번호를 입력해 주세요"
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 border rounded-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 text-muted p-3">새로운 비밀번호</span>
                </div>
                <input name="newPassword" type="password" class="form-control border-0"
                       placeholder="변경할 비밀번호를 입력해 주세요"
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 border rounded-0">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 text-muted p-3">비밀번호 확인</span>
                </div>
                <input name="newPasswordConfirm" type="password" class="form-control border-0"
                       placeholder="비밀번호를 한 번 더 입력해 주세요"
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>
            {{#message}}
                <div class="alert alert-danger mb-3" role="alert">
                    {{message}}
                </div>
            {{/message}}
            <div class="d-flex flex-column w-100 mt-5">
                <button type="submit" class="btn btn-dark p-3">변경하기</button>
            </div>
        </form>
    </section>
</main>
{{>layout/footer}}
