<!DOCTYPE html>
<html lang="kr">
<head>
    {{>partial/header}}
    <link href="/css/user/form.css" rel="stylesheet">
</head>
<body>

{{>partial/navigation}}

<div class="container" id="main">
    <header class="post-header">
        <p class="title">프로필</p>
    </header>
    <div class="info-container">

        <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="/images/80-text.png">
        </a>
        <div class="form-group">
            <label for="userId">닉네임</label>
            <input class="form-control" disabled id="userId" name="userId" placeholder="닉네입을 입력하세요"
                   value="{{user.userId}}">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input class="form-control" disabled id="email" name="email" placeholder="이메일을 입력하세요" type="email"
                   value="{{user.email}}">
        </div>
        <button class="btn btn-success clearfix pull-right" onclick="history.back()">뒤로가기</button>

    </div>
</div>

{{>partial/footer}}

</body>
</html>
