<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/user/login_success.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{> fragments/header}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원 프로필</p>
        </header>
        {{#user}}
            <p class="user-info"> 이메일: {{ email }}</p>
            <p class="user-info"> 닉네임: {{ nickname }}</p>
            <p class="user-info"> 가입일자 : {{ formattedCreatedAt }}</p>
            <a href="/users/{{id}}/update">
                <button>수정</button>
            </a>
        {{/user}}
    </div>
</div>
</body>
</html>
