<!DOCTYPE html>
<html lang="kr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/user/form.css" rel="stylesheet">
    <!--    <link href="/css/user/list.css" rel="stylesheet">-->
</head>
<body>
<div class="background">

    {{> layout/nav}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원정보</p>
        </header>

        <table class="table table-hover">
            <thead>
            <tr>
                <th colspan="2">내 정보</th>
            </tr>
            </thead>
            <tbody>
            {{#user}}
            <tr>
                <td>아이디</td>
                <td>{{userId}}</td>
            </tr>
            <tr>
                <td>이름</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>{{email}}</td>
            </tr>
            </tbody>
            {{/user}}
        </table>

        {{#myId}}
        <div class="post-btn-container">
            <a class="post-write-btn" class="btn btn-primary pull-right" href="/users/me/update"
               role="button">수정하기</a>
        </div>
        {{/myId}}


    </div>

</div>
</body>
</html>