{{>template/header}}
<div class="card" style="border: 0;">
    <article class="card-body mx-auto" style="max-width: 500px; min-width:300px;">
        <h2 class="card-title m-3 text-center">회원가입</h2>
        <form action="/user/register" method="post">
            <table class="table align-middle">
                <tr>
                    <th class="text-end">
                        ID: &nbsp;
                    </th>
                    <td>
                        {{#user}}
                        <input class="form-control" name="userId" placeholder="아이디" required type="text"
                               value="{{userId}}">
                        {{/user}}
                        {{^user}}
                        <input class="form-control" name="userId" placeholder="아이디" required type="text">
                        {{/user}}
                        {{#idErrorMessage}}
                        <div class="alert alert-light p-0 m-0" role="alert">{{this}}</div>
                        {{/idErrorMessage}}
                    </td>
                </tr>
                <tr>
                    <th class="text-end">
                        PW: &nbsp;
                    </th>
                    <td>
                        <input class="form-control" name="password" placeholder="비밀번호" required type="password">
                    </td>
                </tr>
                <tr>
                    <th class="text-end">
                        Name: &nbsp;
                    </th>
                    <td>
                        {{#user}}
                        <input class="form-control" name="name" placeholder="이름" required type="text" value="{{name}}">
                        {{/user}}
                        {{^user}}
                        <input class="form-control" name="name" placeholder="이름" required type="text">
                        {{/user}}
                    </td>
                </tr>
                <tr>
                    <th class="text-end">
                        Email: &nbsp;
                    </th>
                    <td>
                        {{#user}}
                        <input class="form-control" name="email" placeholder="이메일" required type="email"
                               value="{{email}}">
                        {{/user}}
                        {{^user}}
                        <input class="form-control" name="email" placeholder="이메일" required type="email">
                        {{/user}}
                    </td>
                </tr>
            </table>
            <div class="row mt-3">
                <button class="btn btn-dark" type="submit">회원가입</button>
            </div>
        </form>
    </article>
</div>
{{>template/footer}}