{{>layout/header}}
{{>layout/nav}}
<div class="container" id="main">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default content-main">
      <form action="/user" method="post" name="user">
        <div class="form-group">
          <label for="username">사용자 아이디</label>
          <input class="form-control" id="username" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">비밀번호</label>
          <input class="form-control" id="password" name="password" placeholder="password"
                 type="password">
        </div>
        <div class="form-group">
          <label for="name">이름</label>
          <input class="form-control" id="name" name="name" placeholder="name">
        </div>
        <div class="form-group">
          <label for="email">이메일</label>
          <input class="form-control" id="email" name="email" placeholder="email" type="email">
        </div>
        <button class="btn btn-success clearfix pull-right" type="submit">회원가입</button>
        <div class="clearfix"/>
      </form>
    </div>
  </div>
</div>
{{>layout/footer}}
