<!DOCTYPE html>
<html lang="kr">
<head>
    {{>layout/loadMetaData}}
    <link href="/css/user/sign_up_success.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{>layout/header}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">가입이 완료되었습니다!</p>
        </header>
        <p class="user-info"> 이메일: {{email}}</p>
        <p class="user-info"> 닉네임: {{name}}</p>
        <a href="/login" class="btn">로그인</a>
    </div>
</div>
</body>
</html>
