<!DOCTYPE html>
<html lang="kr">
<head>
    {{>common/meta}}
    <link href="/css/user/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{>common/header}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">개인정보 수정</p>
        </header>
        <form name="signup" class="info-container" method="post" action="/users/{{user.id}}">
            <input type="hidden" name="_method" value="PUT"/>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input class="form-control" id="nickname" name="nickname" value={{user.nickname}} placeholder="수정하고 싶은 닉네임을 입력하세요">
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">완료</button>
        </form>
    </div>
</div>
</body>
</html>
