<!DOCTYPE html>
<html lang="kr">
{{> layout/header}}
<body>
    {{> layout/navbar}}
    <div class="container mw-50">
        <div class="jumbotron bg-none">
            <div class="display-large text-center">회원정보 수정</div>
        </div>
        <form action="/users/{{userId}}" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <div class="input-kakao-group">
                <label class="input-kakao-group-addon" for="email">이메일</label>
                <input class="input-kakao" type="email"
                       id="email" name="email" value={{user.email}} />
            </div>
            <div class="input-kakao-group">
                <label class="input-kakao-group-addon" for="name">닉네임</label>
                <input class="input-kakao" type="text"
                       id="name" name="name" value={{user.name}} />
            </div>
            <div class="input-kakao-group">
                <label class="input-kakao-group-addon" for="password">패스워드</label>
                <input class="input-kakao" type="password"
                       id="password" name="password" placeholder="패스워드를 입력해주세요" />
            </div>
            {{> layout/errorMessage}}
            <button type="submit" class="btn-kakao">완료</button>
        </form>
    </div>
    {{> layout/scripts}}
</body>
</html>
