{{>template/header}}
<div class="card" style="border: 0;">
    <article class="card-body mx-auto" style="max-width: 500px; min-width:300px;">
        <h2 class="card-title m-3 text-center">회원정보</h2>
        {{#user}}
        <table class="table align-middle">
            <tr>
                <th class="text-end">
                    ID: &nbsp;
                </th>
                <td>
                    {{userId}}
                </td>
            </tr>
            <tr>
                <th class="text-end">
                    Name: &nbsp;
                </th>
                <td>
                    {{name}}
                </td>
            </tr>
            <tr>
                <th class="text-end">
                    Email: &nbsp;
                </th>
                <td>
                    {{email}}
                </td>
            </tr>
        </table>
        <div class="row mt-3">
            <div class="col-lg-6">
                <button type="button" class="btn btn-dark" onclick="location.href='/user/list'">회원 목록</button>
            </div>
            <div class="col-lg-6">
                <form method="post" action="/user/modify">
                    <input type="hidden" name="userId" value="{{userId}}">
                    <button type="submit" class="btn btn-dark">회원정보 수정</button>
                </form>
            </div>
        </div>
        {{/user}}
    </article>
</div>
{{>template/footer}}