<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partials/head}}
    <title>이미 존재하는 유저</title>
</head>
<body>
{{> partials/header}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <h2 class="qna-title">비밀번호 값이 틀렸거나 서버 내 오류가 발생하였습니다.</h2>
        <h2 class="qna-title">현재 비밀번호를 다시 확인해주시거나 잠시 후 다시 시도해주세요.</h2>
        <h2 class="qna-title"></h2>
        <div class="content-main">
            <a href="javascript:history.back()" class="btn btn-primary" role="button">뒤로가기</a>
            <a href="/" class="btn" role="button">홈으로 돌아가기</a>
        </div>
    </div>
</div>

{{> partials/footer}}
</body>
</html>
