{{>layout/header}}
{{>layout/navbar}}
<div class="row justify-content-center">
    <div class="col-md-12 col-sm-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="width: 30rem;">
            <h3 class="card-header border-bottom-0 bg-transparent display-1 text-muted text-center">
                404
            </h3>

            <span class="card-subtitle mb-2 text-muted text-center">
                페이지를 찾을 수 없습니다.
            </span>

            <div class="card-body mx-auto">
                <a type="button" href="#"
                   class="btn btn-sm btn-info text-white">홈으로</a>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}
