<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partials/head}}
    <title>잘못된 요청 방법</title>
</head>
<body>
{{> partials/header}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <h2 class="qna-title">지원하지 않는 요청 방식으로 처리되지 않았습니다.</h2>
        <div class="content-main">
            <a href="/" class="btn btn-primary" role="button">홈으로 돌아가기</a>
        </div>
    </div>
</div>

{{> partials/footer}}
</body>
</html>
