<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partials/head}}
    <title>서버 내부 오류 발생</title>
</head>
<body>
{{> partials/header}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <h2 class="qna-title">불편을 드려 죄송합니다. 서버 내 오류가 발생하였습니다.</h2>
        <h2 class="qna-title">잠시 후 다시 시도하여도 동일한 증상이 나타난다면 고객센터를 통해 문의 바랍니다.</h2>
        <div class="content-main">
            <a href="/" class="btn btn-primary" role="button">홈으로 돌아가기</a>
        </div>
    </div>
</div>

{{> partials/footer}}
</body>
</html>
