{{>partial/header}}
<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            알 수 없는 오류가 발생했습니다.
            <a href="javascript:history.back();">뒤로가기</a>
        </div>
    </div>
</div>
{{>partial/footer}}
