<!DOCTYPE html>
<html lang="kr">
<head>
    {{>layout/head}}
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{>layout/navbar}}
    <div class="description">
        <div class="desc-container">
            <p class="desc-big">해당 게시물이 존재하지 않습니다.</p>
        </div>
    </div>
    <div class="post-btn-container">
        <a class="post-write-btn" href="/" class="btn btn-primary pull-right" role="button">글 목록</a>
    </div>
</div>
</body>
</html>
