{{>partial/header}}
<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            사용자 ID가 이미 존재합니다. 다른 ID를 사용해주세요.
            <a href="javascript:history.back();">뒤로가기</a>
        </div>
    </div>
</div>
{{>partial/footer}}
