{{> index/header}}
{{> index/navbar}}

<div class="container" id="main">
  <div class="error-body">
    <img src="/images/debug-choonsik.png" alt="error-image"/>
    {{# status}}
      <p>{{status}}</p>
    {{/ status}}
    <p>{{error}}</p>
  </div>
</div>

<style>
  .error-body {
    margin-top: 200px;
    text-align: center;
  }

  .error-body p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: saddlebrown;
  }
</style>

{{> index/footer}}
