body {
    // styleName: TextRegular;
    font-family: Noto Sans KR, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
}

.mw-50 {
    max-width: 50%;
}

.mw-80 {
    max-width: 80%;
}

.font-small {
    // styleName: TextSmall;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 500;
}

.display-large {
    //styleName: DisplayLarge;
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
}

.input-kakao-group {
    position: relative;
    margin-bottom: 16px;
}

.input-kakao-group-addon {
    position: absolute;
    left: 16px;
    top: 10px;
    font-weight: 400;
}

.input-kakao {
    width: 100%;
    padding: 8px 8px 8px 96px;
    border: 1px solid #EEEEEE;
}

.btn-kakao {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 8px 16px;
}

.btn-kakao:hover {
    background-color: #FFCD00;
    color: black;
    border: 2px solid #FFCD00;
    padding: 8px 16px;
}

.btn-kakao:focus {
    background-color: black;
    border: 2px solid #FFCD00;
    color: white;
}

.bg-kakao {
    background-color: #FFCD00;
}

.bg-none {
    background-color: inherit;
}

.border-none {
    border: none;
}

.textarea-kakao-group {
    position: relative;
    margin-bottom: 16px;
}

.textarea-kakao-group-addon {
    position: absolute;
    left: 20px;
    top: 20px;
}

.textarea-kakao-box {
    position: absolute;
    top: 2px;
    left: 20px;
    width: calc(100% - 40px);
    height: 62px;
    background-color: white;
}

.textarea-kakao {
    width: 100%;
    height: 120px;
    padding: 62px 20px 20px 20px;
    border: 1px solid #EEEEEE;
    resize: none;
}

.article-info-kakao {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 16px 0;
    color: #666666;
}

.article-body-kakao {
    padding: 40px 0 80px 0;
    opacity: 32%;
}

.list-group-item {
    border-left: none;
    border-right: none;
    padding: 24px 0;
}

.jumbotron-kakao {
    padding: 48px 0;
}

.mr-32 {
    margin-right: 32px;
}

.list-info {
    color: #666666;
    margin-bottom: 16px;
}

.color-C {
    color: #CCCCCC;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 16px 8px;
}
