@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body {
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
    width: 80rem;
    margin: auto;
}

.table thead > tr > th {
    border-bottom: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.nav-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    flex: 1;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 8;
}

.nav-menu-item {
    display: block;
    padding: .5rem 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.bg-kakao {
    background-color: #FAE100;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: auto;
    align-items: stretch;
}

.login-btn {

}

.my-page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
