#main_box {
    position: relative;
    width: 1440px;
    height: 1170px;

    background: #FFFFFF;
}

#main_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;

    position: absolute;
    width: 1040px;
    height: 148px;
    left: 200px;
    top: 104px;

    background: #FFCD00;
}

#hello_text {
    position: static;
    width: 960px;
    height: 23px;
    left: 40px;
    top: 40px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

#kakao_edu_text {
    position: static;
    width: 960px;
    height: 35px;
    left: 40px;
    top: 73px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */


    color: #000000;
}
