{{>layout/header}}

<div style="color: white; height: 100vh; background-color: black" id="main">
    <h1>400 Bad Request</h1>
    <hr>
    <p>{{exception.message}}</p>
    <img src="/images/ryon.gif">
</div>