<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/user/list.css" rel="stylesheet">
</head>

<body>
<div class="background">
    {{>layout/header}}
    <div style="color: black; height: 100vh; background-color: white" id="main">
        <h1>400 Bad Request</h1>
        <hr style="margin-top: 2vh; margin-bottom: 2vh">
        <p style="margin-bottom: 2vh">{{exception.message}}</p>
        <img src="/images/apeach.png">
    </div>
</div>
</body>
</html>
