.container {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 60px;
}

.btn {
    margin-top: 20px;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    font-size: 14px;
    background-color: black;
    color: white;
    margin: 20px;
}

.btn:hover {
    background-color: #ffcd00;
    color: black;
}

.error-info {
    border: 2px #ffcd00 dashed;
    border-radius: 0.25rem;
    padding: 1rem 0;
}
