<!DOCTYPE html>
<html lang="kr">
<head>
    {{>partial/header}}
    <link href="/css/errorPage.css" rel="stylesheet">
</head>
<body>

{{>partial/navigation}}

<div class="container" id="main">
    <header class="post-header">
        <p class="title">에러 발생</p>
    </header>
    <div class="info-container">
        <div class="form-group" style="width: 100%">
            <label style="width: 100%;text-align-last: center">{{errorMessage}}</label>
        </div>
        <button class="btn btn-success clearfix pull-right" onclick="history.back()">뒤로가기</button>
    </div>

</div>


{{>partial/footer}}

</body>
</html>
