{{>base-head}}

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <div class="wrap">
                <div class="main">
                    <strong class="subject">
                        error: {{message}}
                    </strong>
                    <br>
                    <div class="col-md-3 qna-write" style="position: relative;margin-top: 1em; margin-left: 1em">
                        <a href="/" class="btn btn-primary pull-right" role="button">홈으로 돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{>base-foot}}
