<!DOCTYPE html>
<html lang="kr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/user/list.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/images/KakaoCI.png"/>
                </a>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">메인 페이지</a></li>
                <li><a class="black-component" href="/user/login.html" role="button">로그인</a></li>
                <li><a class="black-component" href="/user/form.html" role="button">회원가입</a></li>
            </ul>
        </div>
    </nav>

    <div class="description">
        <div class="desc-container">
            <p class="desc-small">에러 페이지</p>
            {{#errorMsg}}
            <p class="desc-big">{{errorMsg}}</p>
            {{/errorMsg}}
        </div>
    </div>
</div>
</body>
</html>
