{{>layout/header}}
<link href="/css/index.css" rel="stylesheet">
<link href="/css/member/joinSuccess.css" rel="stylesheet">
{{>layout/navigationBar}}
<div class="description">
    <div class="desc-container">
        <p class="desc-small">안녕하세요</p>
        <p class="desc-big">카카오 교육 페이지 입니다.</p>
    </div>
</div>

<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="error-message">{{errorMessage}}</h1>
    </div>
    <a href="/" class="btn">홈으로</a>
</div>

{{>layout/footer}}
