{{> partial/head}}
<body>
{{> partial/nav}}
{{> partial/subnav}}

<div class="container" id="main">
   <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
       <h1>Error</h1>
       {{#message}}
           {{message}}
       {{/message}}
    </div>
</div>

{{> partial/script}}
</body>
</html>
