<!DOCTYPE html>
<html lang="kr">
{{> layout/header}}
<body>
    {{> layout/navbar}}
    <div class="container">
    {{#url}}
        <h4>Url:</h4>
        <div>{{url}}</div>
        <div>Exception</div>
        <div>- Class: {{exceptionClass}}</div>
        {{#exceptionMessage}}
            <div>- Message: {{exceptionMessage}}</div>
        {{/exceptionMessage}}
    {{/url}}
    </div>
    {{> layout/scripts}}
</body>
</html>
