{{>common/header}}
{{>common/beforeloginbar}}
<div class="container">
    <br>
    <div>
        <h1>회원가입</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" id="email" placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group">
            <label for="username">닉네임</label>
            <input type="text" class="form-control" id="username" placeholder="닉네임을 입력하세요">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="btn-enroll">완료</button>
</div>
{{>common/footer}}