{{>layout/header}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
       <div class="panel panel-default qna-list">
           <ul class="list">
               <li>
                   <div class="wrap">
                       <a href="/questions/create" class="main">
                           <strong class="subject">
                               질문하기
                           </strong>
                       </a>
                   </div>
               </li>
               <li>
                   <a href="/users" class="wrap">
                       <div class="main">
                           <strong class="subject">
                               User List 보기 (수정 가능)
                           </strong>
                       </div>
                   </a>
               </li>
               <li>
                   <a href="questions" class="wrap">
                       <div class="main">
                           <strong class="subject">
                               Question List 보기
                           </strong>
                       </div>
                   </a>
               </li>
           </ul>
         </div>
     </div>
 </div>
{{>layout/footer}}