<!DOCTYPE html>
<html lang="kr">

{{>layout/header}}

<div id="main">
    <div style="min-width: 1040px; display: flex; flex-direction: column; align-items: center">
        <div style="padding: 40px; background-color: #FFCD00; width: 100%; height: 148px">
            <div style="display: flex; flex-direction: column">
                <span>안녕하세요,</span> <br/>
                <span style="font-size: 24px">카카오 교육 페이지입니다.</span>
            </div>
        </div>

        <div style="margin-top: 40px; width: 100%">
            <span style="color: #666; font-size: 14px">전체 글 {{postListInfo.total}}개</span>
            <div style="display: flex; flex-direction: column; margin-top: 16px">
                <div style="display: flex; align-items: center; justify-content: space-between; border-top: 1px solid #eee; border-bottom: 1px solid #eee; height: 55px">
                    <span style="text-align: center; width: 500px">제목</span>
                    <span style="text-align: center; width: 140px">작성자</span>
                    <span style="text-align: center; width: 140px">작성일자</span>
                    <span style="text-align: center; width: 140px">조회수</span>
                </div>
                {{#postListInfo.postList}}
                <a href="/questions/{{id}}" style="display: flex;  align-items: center; justify-content: space-between; height: 64px; border-bottom: 1px solid #eee; color: black; font-size: 16px; text-decoration: none">
                    <span style="text-align: left; width: 500px; padding-left: 24px">{{title}}</span>
                    <span style="text-align: center; width: 140px">{{writer.name}}</span>
                    <span style="text-align: center; width: 140px">{{createdAt}}</span>
                    <span style="text-align: center; width: 140px">{{viewCount}}</span>
                </a>
                {{/postListInfo.postList}}
                <button class="post-button">
                    <a class="alt-color" href="/qna/form" style="text-decoration: none; color: white">글쓰기</a>
                </button>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}