<!DOCTYPE html>
<html lang="kr">

{{>layout/header}}

<div id="main">
    <div style="min-width: 1040px; display: flex; flex-direction: column; align-items: center">
        <div style="padding: 40px; background-color: #FFCD00; width: 100%; height: 148px">
            <div style="display: flex; flex-direction: column">
                <span>안녕하세요,</span> <br/>
                <span style="font-size: 24px">카카오 교육 페이지입니다.</span>
            </div>
        </div>

        <div style="margin-top: 40px">
            <span style="color: #666; font-size: 14px">전체 글 {{postListInfo.total}}개</span>
            <div style="display: flex; flex-direction: column; margin-top: 16px">
                <div style="border-top: 1px solid #eee; border-bottom: 1px solid #eee; height: 55px">
                    <span>제목</span>
                    <span>작성자</span>
                    <span>작성일자</span>
                    <span>조회수</span>
                </div>
                {{#postListInfo.postList}}
                <a href="/qna/{{postId}}" style="height: 64px">
                    <span>{{title}}</span>
                    <span>{{writer.userId}}</span>
                    <span>{{createdAt}}</span>
                    <span>{{viewCount}}</span>
                </a>
                {{/postListInfo.postList}}
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}