<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="user/signUp">회원가입</a>
<a href="article/post">게시글 쓰기</a>
<br/>
<br/>
<header>
    <p>글 목록</p>
</header>
<table>
    <thead>
    <tr>
        <th scope="col">글 번호</th>
        <th scope="col">제목</th>
    </tr>
    </thead>
    <tbody>
    {{#articles}}
    <tr>
        <td>{{id}}</td><td><a href="article/{{id}}">{{title}}</a></td>
    </tr>
    {{/articles}}
    </tbody>
</table>
</body>
</html>