<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/index.css?version=v1" rel="stylesheet">
    {{#success}}
    <script>alert("{{successMessage}}")</script>
    {{/success}}
</head>

{{>header}}
    <div class="description">
        <div class="desc-container">
            <p class="desc-small">안녕하세요</p>
            <p class="desc-big">카카오 교육 페이지 입니다.</p>
        </div>
    </div>

    {{#postSize}}
        <p class="total_num">전체 글 {{postSize}}개</p>
    {{/postSize}}
    <div class="container" id="main">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>번호</th> <th>작성자</th> <th>제목</th> <th>작성일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#posts}}
                        <tr>
                            <td><a href="/posts/{{id}}">{{id}}</a></td> <td>{{writer}}</td> <td>{{title}}</td> <td>{{regDateTime}}</td>
                        </tr>
                    {{/posts}}
                    </tbody>
                </table>
            </div>
            <div class="page_wrap">
                {{#page}}
                <div class="page_nation">
                    <a class="arrow prev" href="/?pageNumber={{prevPage}}">&lt;</a>
                        {{#pageList}}
                            <a href="/?pageNumber={{.}}">{{.}}</a>
                        {{/pageList}}
                    <a class="arrow next" href="/?pageNumber={{nextPage}}">&gt;</a>
                </div>
                {{/page}}
            </div>
        </div>
    </div>
    <div class="post-btn-container">
      <a class="post-write-btn" href="/posts/form" class="btn btn-primary pull-right" role="button">글쓰기</a>
    </div>
{{>footer}}
