{{> partial/head}}

<body>
{{> partial/header}}

<div class="main-wrapper ">
  <!-- Slider Start -->
  <section class="slider">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-10">
          <div class="block">
            <span class="d-block mb-3 text-white text-capitalize">Prepare for new project</span>
            <h1 class="animated fadeInUp mb-5">카카오 신입 <br>3주차 스프링 카페 과제<br>START.</h1>
<!--            <a href="#" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Get started<i class="btn-icon fa fa-angle-right ml-2"></i></a>-->
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<!--
Essential Scripts
=====================================-->



{{> partial/script}}
</body>
</html>
