{{> partial/head}}

<body>
{{> partial/header}}

<div class="main-wrapper ">

  <section class="section intro">
    <div class="container">
      <div class="row ">
        <h1>멤버리스트</h1>
      </div>
      <div class="row">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">EMAIL</th>
            <th scope="col">NICK_NAME</th>
            <th scope="col">LAST_LOGIN_AT</th>
          </tr>
          </thead>
          <tbody>
          {{#users}}
          <tr>
            <th scope="row">{{index}}</th>
            <td><a href="/users/{{id}}">{{email}}</a></td>
            <td>{{nickName}}</td>
            <td style="font-family:Hind">
              {{#lastLoginAt}}
                {{lastLoginAt}}
              {{/lastLoginAt}}
              {{^lastLoginAt}}
                접속 이력 없음
              {{/lastLoginAt}}
            </td>
          </tr>
          {{/users}}
          </tbody>
        </table>

      </div>
    </div>
  </section>

</div>

<!--
Essential Scripts
=====================================-->
<script>
  document.addEventListener("DOMContentLoaded", function(){
    // Handler when the DOM is fully loaded

  });

</script>


{{> partial/script}}
</body>
</html>
