{{> layout/header}}
<body>
{{> layout/navbar}}

<div class="container">
    <h1 class="mt-5">글 작성</h1>
    <hr>

    <form action="/posts/new" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="title-label">Title</span>
            <input type="text" class="form-control" id="title" name="title" aria-label="Title" aria-describedby="title-label">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="writer-label">Writer</span>
            <input type="text" class="form-control" id="writer" name="writer" aria-label="Writer" aria-describedby="writer-label">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="body-label">Body</span>
            <textarea class="form-control" id="body" name="body" aria-label="Body" aria-describedby="body-label"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{{> layout/footer}}
</body>
</html>
