{{> layout/header}}
<body>
{{> layout/navbar}}

<div class="container">
    {{> component/flash_message}}

    <h1 class="mt-5">글 목록</h1>
    <hr>

    <a class="btn btn-primary" href="/write" role="button">글 작성</a>
    <hr>

    <table class="table caption-top">
        <caption>글 총 {{posts.size}}개</caption>
        <thead class="table-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">작성자</th>
            <th scope="col">제목</th>
        </tr>
        </thead>
        <tbody>
        {{#posts}}
            <tr>
                <th>{{id}}</th>
                <td>{{writer}}</td>
                <td><a href="/posts/{{id}}">{{title}}</a></td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{> layout/footer}}
</body>
</html>
