{{>common/header}}
<div class="container">
    <br>
    <div>
        <h1>질문하기</h1>
    </div>
    <br>
    <div>
        <form>
            <div class="form-floating mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요">
            </div>
            <div class="form-floating">
                <label for="question">질문</label>
                <textarea class="form-control" placeholder="질문을 작성해주세요" id="question" style="height: 100px"></textarea>
            </div>
        </form>
        <br>
        <button type="button" class="btn btn-primary" id="btn-qna-post">완료</button>
    </div>
</div>
{{>common/footer}}