{{> layout/header}}
<body>
{{> layout/navbar}}

<div class="container">
    <h1 class="mt-5">회원가입</h1>
    <hr>

    <form action="/users/new" method="post">
        <div class="mb-3">
            <label for="userId" class="form-label">ID</label>
            <input type="text" class="form-control" id="userId" name="userId">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input type="nickname" class="form-control" id="nickname" name="nickname">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{{> layout/footer}}
</body>
</html>
