<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/user/form.css" rel="stylesheet">
</head>

<body>
<div class="background">
    <div class="container" id="main">
        <header class="post-header">
            <p class="title">사용자 정보</p>
        </header>
        <div class="form-group">
            {{^sessionUser}}
            <p>세션 정보가 없습니다.</p>
            {{/sessionUser}}
            {{#sessionUser}}
            <p>ID: {{id}}</p>
            <p>이메일: {{email}}</p>
            <p>닉네임: {{nickname}}</p>
            <p>포인트: {{point}}</p>
            {{/sessionUser}}
        </div>


    </div>
</div>
</body>
</html>
