{{> layout/header}}
<body>
{{> layout/navbar}}

<div class="container">
    <h1 class="mt-5">회원 목록</h1>
    <hr>

    <table class="table caption-top">
        <caption>회원 수 총 {{users.size}}명</caption>
        <thead class="table-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">email</th>
            <th scope="col">nickname</th>
            <th scope="col">password</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <th><a href="/users/{{id}}">{{id}}</a></th>
                <td>{{email}}</td>
                <td>{{nickname}}</td>
                <td>{{password}}</td>
            </tr>
        {{/users}}
        </tbody>
    </table>
    <hr>

    {{> component/back}}
</div>

{{> layout/footer}}
</body>
</html>
