{{>layout/header}}
<div class="container" id="main">
    {{#loginUser}}
    <div style="padding: 0 15px 15px;">
        <a href="/questions/create"
           style="float: right; display: block; background-color: #f6c51e; padding: 5px 6px; border-radius: 8px;color: #000; font-weight: bold;">게시글
            쓰기</a>
        <span style="clear: both; display: block;"></span>
    </div>
    {{/loginUser}}
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                <h2 class="qna-title">게시글</h2>
            </header>
            <div class="content-main">
                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <ul class="qna-comment-slipp-articles">
                            {{#questions}}
                            <li class="article" id="answer-1405">
                                <a href="/questions/{{id}}">
                                    <div class="article-doc comment-doc qna-doc-content">
                                        <p>{{title}}</p>
                                    </div>
                                    <div class="article-util">
                                        {{#thisIsMine}}
                                        <ul class="article-util-list">
                                            <li>
                                                <a class="link-modify-article" href="/questions/update/{{id}}">수정</a>
                                            </li>
                                            <li>
                                                <form class="delete-answer-form" action="/questions/{{id}}"
                                                      method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="delete-answer-button">삭제</button>
                                                </form>
                                            </li>
                                        </ul>
                                        {{/thisIsMine}}
                                    </div>
                                </a>
                            </li>
                            {{/questions}}
                        </ul>
                    </div>
                    <div class="kakao-page-list">
                        {{#pageList}}
                        <a href="/questions?currentPage={{pageNumber}}" class="{{className}}"><span>{{buttonName}}</span></a>
                        {{/pageList}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
