{{> /sections/header}}
<body>
{{> /sections/navbar}}
{{> /sections/subnav}}

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
          <header class="qna-header">
              <h2 class="qna-title">{{article.title}}</h2>
          </header>
          <div class="content-main">
              <article class="article">
                  <div class="article-header">
                      <div class="article-header-thumb">
                          <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
                      </div>
                      <div class="article-header-text">
                          <a href="/user/profile/{{article.author}}" class="article-author-name">{{article.author}}</a>
                          <a href="/article/show/{{article.id}}" class="article-header-time" title="퍼머링크">
                              {{article.uploadTime}}
                              <i class="icon-link"></i>
                          </a>
                      </div>
                  </div>
                  <div class="article-doc">
                      {{article.contents}}
                  </div>
                  <div class="article-util">
                      <ul class="article-util-list">
                          <li>
                              <a class="link-modify-article" href="/article/update/{{article.id}}">수정</a>
                          </li>
                          <li>
                              <form class="form-delete" action="/article/question/{{article.id}}" method="POST">
                                  <input type="hidden" name="_method" value="DELETE">
                                  <button class="link-delete-article" type="submit">삭제</button>
                              </form>
                          </li>
                          <li>
                              <a class="link-modify-article" href="/">목록</a>
                          </li>
                      </ul>
                  </div>
              </article>

              <div class="qna-comment">
                  <div class="qna-comment-slipp">
                      <p class="qna-comment-count"><strong>{{numberOfComments}}</strong>개의 의견</p>
                      <div class="qna-comment-slipp-articles">
                          {{#comments}}
                          <article class="article" id="answer-1405">
                              <div class="article-header">
                                  <div class="article-header-thumb">
                                      <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                  </div>
                                  <div class="article-header-text">
                                      <a href="/user/profile/{{author}}" class="article-author-name">{{author}}</a>
                                      <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                                          {{uploadTime}}
                                      </a>
                                  </div>
                              </div>
                              <div class="article-doc comment-doc">
                                 {{contents}}
                              </div>
                              <div class="article-util">
                                  <ul class="article-util-list">
                                      <li>
                                          <a class="link-modify-article">수정</a>
                                      </li>
                                      <li>
                                          <form class="delete-answer-form" action="/article/{{article.id}}/comment/{{id}}" method="POST">
                                              <input type="hidden" name="_method" value="DELETE">
                                              <button type="submit" class="delete-answer-button">삭제</button>
                                          </form>
                                      </li>
                                  </ul>
                              </div>
                          </article>
                          {{/comments}}

                          {{#LOGIN_USER_ID}}
                          <form class="submit-write" action="/article/comment/{{article.id}}" method="post">
                              <div class="form-group" style="padding:14px;">
                                  <textarea id="contents" name="contents" class="form-control" placeholder="Update your status"></textarea>
                              </div>
                              <button class="btn btn-success pull-right" type="submit">답변하기</button>
                              <div class="clearfix" />
                          </form>
                          {{/LOGIN_USER_ID}}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>

{{> /sections/scripts}}
