{{>layout/header}}
{{>layout/navbar}}
<main class="">
    <section>
        <form name="question" method="post" action="/qna/update/{{articleId}}">
            <div class="container border p-4">
                <div class="row p-3 m-3 fs-2">
                    <div class="col">
                        {{title}}
                    </div>
                </div>

                <div class="row p-3 m-3 text-end">
                    <div class="col">{{writer}}</div>
                </div>

                <div class="row border p-3 m-3">
                    <div class="col">
                        {{content}}
                    </div>
                </div>
                <div class="d-flex flex-column w-25 mt-5">
                    <button type="submit" class="btn btn-dark p-3">수정하기</button>
                </div>
            </div>
        </form>
        <form action="/qna/deleteArticle/{{articleId}}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <div class="d-flex flex-column w-25 mt-5">
                <button type="submit" class="btn btn-dark p-3">삭제하기</button>
            </div>
        </form>
        <div>
            {{#replies}}
            <form action="/qna/{{articleId}}/replies/{{this.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <div>
                    <p>
                        {{this.writer}}: {{this.content}} [{{this.date}}]
                        <input type="submit" value="삭제하기">
                    </p>
                </div>
            </form>
            {{/replies}}
        </div>
        <form action="/qna/{{articleId}}/reply" method="post">
            <div>
                <textarea id="content" name="content" placeholder="댓글을 입력하세요."></textarea>
            </div>
            <input type="submit" value="등록">
        </form>
    </section>
</main>
{{>layout/footer}}
