<!DOCTYPE html>
<html lang="kr">

{{>layout/header}}


<style>
    .change .target {
        opacity: 0;
    }
    .target {
        display: flex;
        flex-direction: column;
        border: 1px solid #666;
        top: 30px;
        right: 6px;
        background-color: #fff;
    }
    .menu-button {
        border: none;
        background-color: #fff;
        padding: 8px 16px 8px 16px;
        width: 70px
    }
    .menu-button:hover {
        background-color: #eee;
    }
    .disabled {
        background-color: #eee;
        color: white;
        cursor: not-allowed;
        pointer-events: none;
    }

</style>

<div id="main">
    <div style="display: flex; min-width: 1040px; justify-content: center">
        <div style="display: flex; flex-direction: column; margin-top:80px; min-width:680px; width: 680px">
            <div style ="display:flex; justify-content: space-between; align-items: center">
                <span style="font-size: 32px; font-weight: 500">{{post.title}}</span>
                <div class="change" style="position: relative; height: 20px; width: 20px" onclick="menu(this)">
                    <img style="position: relative; height: 20px; width: 20px" src="/images/more.png">
                    <div class="target" style="position: absolute">
                        <form method="GET" action="/questions/{{post.id}}/update">
                            <button class="menu-button">수정</button>
                        </form>
                        <form method="post" action="/questions/{{post.id}}">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button class="menu-button">삭제</button>
                        </form>
                    </div>
                </div>
            </div>

            <div style="display:flex; align-items: center; color: #666; margin-top: 40px; height: 52px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
                <span style="margin-right: 5px">작성자:</span>
                <span style="margin-right: 32px">{{post.writer.name}}</span>
                <span style="margin-right: 5px">작성일자: </span>
                <span style="margin-right: 32px">{{post.createdAt}}</span>
                <span style="margin-right: 5px">조회수: </span>
                <span>{{post.viewCount}}</span>
            </div>
            <div style="margin-top: 40px">
                <span style="font-size: 16px">{{post.contents}}</span>
            </div>
            <div style="margin-top: 80px">
                <span style="font-weight: 400; font-size: 14px">댓글 {{replyListInfo.total}}개</span>
                <hr/>

                {{#replyListInfo.replyList}}
                <div style="border-bottom: 1px solid #eee; padding-top: 24px; padding-bottom: 24px">
                    <span style="font-size: 16px; font-weight: 500; margin-bottom: 4px">{{writer.name}}</span>
                    <span style="margin-bottom: 4px">{{content}}</span>
                    <span style="font-size: 14px; color: #ccc">{{createdAt}}</span>
                </div>
                {{/replyListInfo.replyList}}
                <div style="height: 163px; border: 1px solid #eee; padding: 20px; display: flex; flex-direction: column">
                    {{#sessionedUser}}
                        <span style="font-weight: 400; font-size: 16px; margin-bottom: 10px">{{name}}</span>
                    {{/sessionedUser}}
                    <form style="display: flex; flex-direction: column" method="POST" action="/questions/{{post.id}}/answers">
                        <input name="content" onkeyup="buttonStatus(this)" placeholder="내용을 입력하세요" style="width: 100%; border: none; font-size: 16px; line-height: 32px;">
                        <button id="registerButton" class="disabled post-button alt-color" style="align-self: end">등록</button>
                    </form>
                </div>
            </div>
            <button type="button" class="post-button">
                <a href="/" class="alt-color" style="text-decoration: none; color: white">목록으로</a>
            </button>
        </div>
    </div>
</div>

<script>
    const button = document.getElementById('registerButton');

    function buttonStatus(x) {
        if (x.value.length !== 0)
            button.classList.remove("disabled");
        else
            button.classList.add("disabled");
    }
    function menu(x) {
        x.classList.toggle("change");
    }
</script>

<script type="text/template" id="answerTemplate">
	<article class="article">
		<div class="article-header">
			<div class="article-header-thumb">
				<img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
			</div>
			<div class="article-header-text">
				<a href="#" class="article-author-name">{0}</a>
				<div class="article-header-time">{1}</div>
			</div>
		</div>
		<div class="article-doc comment-doc">
			{2}
		</div>
		<div class="article-util">
		<ul class="article-util-list">
			<li>
				<a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
			</li>
			<li>
				<form class="delete-answer-form" action="/api/questions/{3}/answers/{4}" method="POST">
					<input type="hidden" name="_method" value="DELETE">
                     <button type="submit" class="delete-answer-button">삭제</button>
				</form>
			</li>
		</ul>
		</div>
	</article>
</script>

{{>layout/footer}}