{{>layout/header}}
{{>layout/navbar}}
<main class="">
    <section>
        <div class="container border p-4">

            <div class="row p-3 m-3 fs-2">
                <div class="col">
                    {{title}}
                </div>
            </div>

            <div class="row p-3 m-3 text-end">
                <div class="col">{{writer}}</div>
            </div>

            <div class="row border p-3 m-3">
                <div class="col">
                    {{content}}
                </div>
            </div>
        </div>
    </section>
</main>
{{>layout/footer}}
