<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partials/head}}
    <title>
        {{#article}}
            {{title}}
        {{/article}}
        {{^article}}
            존재하지 않는 글
        {{/article}}
    </title>
</head>
<body>
{{> partials/header}}

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        {{#article}}
        <div class="panel panel-default">
          <header class="qna-header">
              <h2 class="qna-title">{{title}}</h2>
          </header>
          <div class="content-main">
              <article class="article">
                  <div class="article-header">
                      <div class="article-header-thumb">
                          <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
                      </div>
                      <div class="article-header-text">
                          <a href="/users/{{userId}}" class="article-author-name">{{userName}}</a>
                          {{#modifiedAtPretty}}{{.}} 수정됨{{/modifiedAtPretty}}
                          {{^modifiedAtPretty}}{{createdAtPretty}}{{/modifiedAtPretty}}
                      </div>
                  </div>
                  <div class="article-doc">
                      {{#bodyLines}}{{.}}<br>{{/bodyLines}}
                  </div>
                  <div class="article-util">
                      <ul class="article-util-list">
                          <li>
                              <a class="link-modify-article" href="/articles/edit/{{article.idx}}">수정</a>
                          </li>
                          <li>
                              <form class="form-delete" action="/articles/{{article.idx}}" method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
                                  <input type="hidden" name="_method" value="DELETE">
                                  <button class="link-delete-article" type="submit">삭제</button>
                              </form>
                          </li>
                          <li>
                              <a class="link-modify-article" href="/">목록</a>
                          </li>
                      </ul>
                  </div>
              </article>

              <div class="qna-comment">
                  <div class="qna-comment-slipp">
                      <p class="qna-comment-count">댓글 <strong>{{totalComments}}</strong>개</p>
                      <div class="qna-comment-slipp-articles">

                          {{#comments}}
                          <article class="article">
                              <div class="article-header">
                                  <div class="article-header-thumb">
                                      <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                  </div>
                                  <div class="article-header-text">
                                      <a href="/users/{{userId}}" class="article-author-name">{{userName}}</a>
                                      {{#modifiedAtPretty}}{{.}} 수정됨{{/modifiedAtPretty}}
                                      {{^modifiedAtPretty}}{{createdAtPretty}}{{/modifiedAtPretty}}
                                  </div>
                              </div>
                              <div class="article-doc comment-doc" id="origComment{{idx}}">
                                  {{#bodyLines}}{{.}}<br>{{/bodyLines}}
                              </div>

                              <form class="submit-write" id="editComment{{idx}}" style="display:none;" action="/comments/{{article.idx}}/{{idx}}" method="POST" onsubmit="return checkValidComment({{idx}})">
                                  <input type="hidden" name="_method" value="PUT">
                                  <input type="hidden" name="userId" value="{{curUserId}}">
                                  <input type="hidden" name="articleIdx" value="{{article.idx}}">
                                  <input type="hidden" name="origBody" value="{{body}}" disabled>
                                  <div class="form-group" style="padding:14px;">
                                      <label for="comment{{idx}}">댓글 수정</label>
                                      <textarea class="form-control" id="comment{{idx}}" name="body" placeholder="댓글 내용"></textarea>
                                  </div>
                                  <button class="btn btn-success pull-right" onclick="cancelEditComment({{idx}})">취소</button>
                                  <button class="btn btn-success pull-right" type="submit">수정</button>
                                  <div class="clearfix"></div>
                              </form>

                              <div class="article-util">
                                  <ul class="article-util-list">
                                      <li>
                                          <button class="delete-answer-button" onclick="toggleEditComment({{idx}})">수정</button>
                                      </li>
                                      <li>
                                          <form class="delete-answer-form" action="/comments/{{article.idx}}/{{idx}}" method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
                                              <input type="hidden" name="_method" value="DELETE">
                                              <button type="submit" class="delete-answer-button">삭제</button>
                                          </form>
                                      </li>
                                  </ul>
                              </div>
                          </article>
                          {{/comments}}
                          <form class="submit-write" action="/comments" method="POST" onsubmit="return checkValidInput()">
                              <input type="hidden" name="userId" value="{{curUserId}}">
                              <input type="hidden" name="articleIdx" value="{{article.idx}}">
                              <div class="form-group" style="padding:14px;">
                                  <label for="comment">새 댓글 작성</label>
                                  <textarea class="form-control" id="comment" name="body" placeholder="댓글 내용"></textarea>
                              </div>
                              <button class="btn btn-success pull-right" type="submit">댓글 쓰기</button>
                              <div class="clearfix"></div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {{/article}}
        {{^article}}
        <h2 class="qna-title">존재하지 않는 글입니다.</h2>
        <div class="content-main">
            <a href="/" class="btn btn-primary" role="button">돌아가기</a>
        </div>
        {{/article}}
    </div>
</div>

<script src="/js/checker.js"></script>
<script src="/js/comment-validator.js"></script>
{{> partials/footer}}
</body>
</html>
