<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partials/head}}
    <title>이미 존재하는 유저</title>
</head>
<body>
{{> partials/header}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <h2 class="qna-title"></h2>
        <h2 class="qna-title">불편을 드려 죄송합니다. 수정된 내용이 없거나 서버 내 오류가 발생하였습니다.</h2>
        <h2 class="qna-title">내용을 변경하였음에도 불구하고 동일한 증상이 계속 나타난다면 고객센터를 통해 문의 바랍니다.</h2>
        <h2 class="qna-title"></h2>
        <div class="content-main">
            <a href="javascript:history.back()" class="btn btn-primary" role="button">뒤로가기</a>
            <a href="/" class="btn" role="button">홈으로 돌아가기</a>
        </div>
    </div>
</div>

{{> partials/footer}}
</body>
</html>
