<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partials/head}}
    <title>글 목록</title>
</head>
<body>
{{> partials/header}}
<div class="container" id="main">
   <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default qna-list">
          <ul class="list">
              {{#articles}}
              <li>
                  <div class="wrap">
                      <div class="main">
                          <strong class="subject">
                              <a href="/articles/{{idx}}">{{title}}</a>
                          </strong>
                          <div class="auth-info">
                              <i class="icon-add-comment"></i>
                              <span class="time">
                                  {{#modifiedAtPretty}}{{.}} 수정됨{{/modifiedAtPretty}}
                                  {{^modifiedAtPretty}}{{createdAtPretty}}{{/modifiedAtPretty}}
                              </span>
                              <a href="/users/{{userId}}" class="author">{{userName}}</a>
                          </div>
                          <div class="reply" title="댓글">
                              <i class="icon-reply"></i>
                              <span class="point">{{countComments}}</span>
                          </div>
                      </div>
                  </div>
              </li>
              {{/articles}}
              {{^articles}}
              <li>
                  <div class="wrap">
                      <div class="main">
                          <strong class="subject">
                              현재 작성된 글이 없습니다.
                          </strong>
                      </div>
                  </div>
              </li>
              {{/articles}}
          </ul>
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 text-center">
                  <ul class="pagination center-block" style="display:inline-block;">
                      {{#page_selector}}
                      {{#hasPrev}}
                      <li><a href="/pages/{{prevPage.page}}">«</a></li>
                      {{/hasPrev}}
                      {{#pageList}}
                      <li {{#isSelected}}class="active"{{/isSelected}}><a href="/pages/{{page}}">{{page}}</a></li>
                      {{/pageList}}
                      {{#hasNext}}
                      <li><a href="/pages/{{nextPage.page}}">»</a></li>
                      {{/hasNext}}
                      {{/page_selector}}
                </ul>
              </div>
              <div class="col-md-3 qna-write">
                  <a href="/articles/new" class="btn btn-primary pull-right" role="button">새 글 작성</a>
              </div>
          </div>
        </div>
    </div>
</div>

{{> partials/footer}}
</body>
</html>
