{{>layout/header}}
<link href="/css/article/show.css" rel="stylesheet">
{{>layout/navigationBar}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            {{#article}}
            <header class="post-header">
                <p class="post-title">{{title}}</p>
            </header>
            <div class="content-main">
                <article class="article">
                    <hr>
                    <div class="article-header">
                        <div class="article-header-text">
                            <p class="article-content">작성자 : {{author}}</p>
                            <p class="article-content">작성일자 : {{createDate}}</p>
                            <p class="article-content">조회 : 4</p>
                            <p class="article-content-edit"><a href="/articles/{{id}}/edit">수정/삭제</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="article-doc">
                        <p>{{content}}</p>
                    </div>
                </article>
                <div class="post-comment">
                    <div class="post-comment-slipp">
                        <p class="post-comment-count">댓글 {{repliesSize}}개</p>
                        <div class="post-comment-slipp-articles">
                            {{#replies}}
                            <article class="comment">
                                <div class="article-text">
                                    <p class="comment-content comment-author-name">{{writer}}</p>
                                    <div class="comment-content comment-doc">
                                        <p>{{content}}</p>
                                    </div>
                                    <p class="comment-content comment-time">
                                        {{createDateTime}}
                                    </p>
                                </div>
                            </article>
                            {{/replies}}
                            <form class="submit-write" method="post" id="commentForm" action="/articles/{{id}}/reply">
                                <div class="comment-writer-container">
                                    <input class="comment-writer" id="writer" name="writer" value="{{loginMemberDTO.nickname}}" readonly/>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
                                </div>
                                <input class="post-write-btn" type="button" onclick="addAnswer(); return false;" value="등록"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/article}}
        </div>
    </div>
</div>

<script>
    function addAnswer() {
        const queryString = $(".submit-write").serialize();
        const url = $(".submit-write").attr("action");

        console.log("url : " + url);

        $.ajax({
            type : 'post',
            url : url,
            data : queryString,
            dataType : 'json',
            error: function () {
                alert("error");
            },
            success : function (data, status) {
                console.log(data);

                const template = $("<article class=\"comment\">\n" +
                    "                    <div class=\"article-text\">\n" +
                    "                        <p class=\"comment-content comment-author-name\">" + data.writer + "</p>\n" +
                    "                        <div class=\"comment-content comment-doc\">\n" +
                    "                            <p> " + data.content + " </p>\n" +
                    "                        </div>\n" +
                    "                        <p class=\"comment-content comment-time\">\n" +
                    "                            " + data.createDateTime + "\n" +
                    "                        </p>\n" +
                    "                    </div>\n" +
                    "                </article>");

                $(".submit-write").before(template);
                $("textarea[name=content]").val("");
            }
        });
    }
</script>

{{>layout/footer}}
