{{>layout/header}}
<link href="/css/article/show.css" rel="stylesheet">
{{>layout/navigationBar}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            {{#article}}
            <header class="post-header">
                <p class="post-title">{{title}}</p>
            </header>
            <div class="content-main">
                <article class="article">
                    <hr>
                    <div class="article-header">
                        <div class="article-header-text">
                            <p class="article-content">작성자 : {{author}}</p>
                            <p class="article-content">작성일자 : {{createDate}}</p>
                            <p class="article-content">조회 : 4</p>
                            <p class="article-content-edit"><a href="/articles/{{id}}/edit">수정/삭제</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="article-doc">
                        <p>{{content}}</p>
                    </div>
                </article>
                <div class="post-comment">
                    <div class="post-comment-slipp">
                        <p class="post-comment-count">댓글 1개</p>
                        <div class="post-comment-slipp-articles">
                            <article class="comment">
                                <div class="article-text">
                                    <p class="comment-content comment-author-name">익명의 사용자</p>
                                    <div class="comment-content comment-doc">
                                        <p>테스트용 댓글입니다.</p>
                                    </div>
                                    <p class="comment-content comment-time">
                                        2016-01-12 14:06
                                    </p>
                                </div>
                            </article>

                            <form class="submit-write" method="get" action="../index.html ">
                                <div class="comment-writer-container">
                                    <input class="comment-writer" id="writer" name="writer" value="{{loginMemberDTO.nickname}}" readonly/>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="comment" name="comment" placeholder="내용을 입력하세요"></textarea>
                                </div>
                                <input class="post-write-btn" type="submit" value="등록"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/article}}
        </div>
    </div>
</div>
{{>layout/footer}}
